<%- include("header") -%>








  <div class="container-fluid">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
      <a class="navbar-brand" href="#">Meetings Organiser</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#contentToCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="contentToCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Meetings</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
        </ul>
      </div>

    </nav>



    <!-- Greetings -->
    <h1 class="hello">Hello User,</h1>
    <h2>You have 4 Upcoming Meetings</h2>


    <!-- Table Header -->
    <div class="row">
      <div class="column col-lg-3"></div>
      <div class="heading-card col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="header-item">
              <p>Time</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item1">
              <p>Meeting Name</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="header-item">
              <p>Join</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column col-lg-3"></div>
    </div>



    <!-- Table Items -->
    <div class="row">
      <div class="column col-lg-3"></div>
      <div class="meeting-card col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="item">
              <p class="meeting-text">12:00 PM</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item1">
              <p class="meeting-text">DSP Class</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-btn">
              <button type="submit" class="join-btn">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column delete-btn-div col-lg-1">
        <button class="delete-btn" type="submit" name="delete-button">
          <i class="delete-btn-icon fa-solid fa-circle-xmark fa-2x"></i>
        </button>
      </div>
      <div class="column col-lg-2"></div>
    </div>


    <div class="row">
      <div class="column col-lg-3"></div>
      <div class="meeting-card col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="item">
              <p class="meeting-text">12:00 PM</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item1">
              <p class="meeting-text">DSP Class</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-btn">
              <button type="submit" class="join-btn">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column delete-btn-div col-lg-1">
        <button class="delete-btn" type="submit" name="delete-button">
          <i class="delete-btn-icon fa-solid fa-circle-xmark fa-2x"></i>
        </button>
      </div>
      <div class="column col-lg-2"></div>
    </div>



    <div class="row">
      <div class="column col-lg-3"></div>
      <div class="meeting-card col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="item">
              <p class="meeting-text">12:00 PM</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item1">
              <p class="meeting-text">DSP Class</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-btn">
              <button type="submit" class="join-btn">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column delete-btn-div col-lg-1">
        <button class="delete-btn" type="submit" name="delete-button">
          <i class="delete-btn-icon fa-solid fa-circle-xmark fa-2x"></i>
        </button>
      </div>
      <div class="column col-lg-2"></div>
    </div>



    <div class="row">
      <div class="column col-lg-3"></div>
      <div class="meeting-card col-lg-6">
        <div class="row">
          <div class="col-lg-4">
            <div class="item">
              <p class="meeting-text">12:00 PM</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item1">
              <p class="meeting-text">DSP Class</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item-btn">
              <button type="submit" class="join-btn">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column delete-btn-div col-lg-1">
        <button class="delete-btn" type="submit" name="delete-button">
          <i class="delete-btn-icon fa-solid fa-circle-xmark fa-2x"></i>
        </button>
      </div>
      <div class="column col-lg-2"></div>
    </div>


    <button class="add-meet-btn" type="submit" name="button">Add Meeting</button>
  </div>


<%- include("footer") -%>
